.col-sm-4
  .card
    .card-body
      = form_for :answer do |a|
        .form-group
          = a.label :body, "Add Your 2 Cents..."
          %br/
          = a.text_area :body, class: 'form-control', rows: 5
        .form-group
          = a.submit 'Post Answer'
