/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import "evil-icons";

.logo-link {
  color: black;

  &:hover, &:focus {
    color: gold;
  }
}

.jumbotron {
  margin-bottom: 0;
  background-image: url("https://static0.fitbit.com/simple.b-cssdisabled-jpg.h2366b7ba34958d57b0e6cfbbd42686a3.pack?items=%2Fcontent%2Fassets%2Fadventures%2Fimages%2Fgallery%2Fyosemite4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 150px;
}

nav {
  background-color: #2E3138;
}

body {
  background-color: #6C6F7D;
}

.mainbox {
  margin: 0;
  background-color: white;
  padding: 20px;
}
