%nav.navbar.navbar-dark#footer
  %a.navbar-brand{:href => "/questions"}
    = image_tag("mario-block.png", height: "30", width: "30")
    RoQIT Box
  %ul.nav
    %li.nav-item
      %p Site by: Nik Trabue, Copyright: NeekoPolo Inc.
